@import 'utilities/variables', 'utilities/mixins';
@import 'vendors/bootstrap';
@import 'base/base';
@import 'layout/header', 'layout/footer','layout/main', 'layout/section';
@import 'components/menu','components/navbar';
@import 'views/contactus';


.aside {
    &__span {
        text-align: center;
    }
    &__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__img {
            box-sizing: border-box;
            width: 30%;
            object-fit: scale-down;
            border: 2px white solid;
        }
    }
}