.nav {
    display: flex;
    background-color: #31A146;
    &__button {
        padding: 10px;
        width: 25%;
        background-color: #31A146;
        color: white;
        cursor: pointer;
        &:hover, &:active {
            background-color: darkgreen;
        }
    }
}