* {
    padding: 0;
    margin: 0;
}

html{
    background-color: darkgreen;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #1f4037; 
    background: -webkit-linear-gradient(to bottom, #99f2c8, #1f4037);  
    background: linear-gradient(to bottom, #99f2c8, #1f4037);
}