* {
    padding: 0;
    margin: 0;
}

html{
    background-color: darkgreen;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* @media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
    }
    button {
        width: 50%;
    }
    .profilepic {
        width: 100%;
        margin: 8% 0;
    }
    .profilepic img{
        width: 80%;
    }
}

@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    button {
        width: 100%;
    }
    section {
        display: flex;
        flex-direction: column;
    }
    .profilepic {
        width: 100%;
    }
} */